<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    {% load static %}
    <link rel="stylesheet"  type="text/css" href="{% static 'css/carrito.css' %}">
    <title>Carrito de Compras</title>
</head>

<body>
    <header>
        <div class="logo">
            <a href="{% url 'asago' %}"><img src="{% static 'imagenes/logo_asago1.png' %}" alt=""></a>
            <h2>Asago S.A.S</h2>
        </div>

        <div class="login">
            {% if request.session.usuario_logeado is None %}
            <p>Inicio de Sesión</p>
            <div class="dropdown">
                <button class="dropbtn"><i class="uil uil-angle-down"></i></button>
                <div class="dropdown-content">
                    <a href="{% url 'login' %}">Iniciar Sesión</a>
                    <a href="{% url 'registrar_usuario' %}">Registrarse</a>
                </div> 
            </div> 
            {% else %}
            <p>Bienvenido a Asago {{ usuario.nombres }}!</p>
            <div class="dropdown">
                <button class="dropbtn"><i class="uil uil-angle-down"></i></button>
                <div class="dropdown-content">
                    <a href="{% url 'logout' %}">Cerrar Sesión</a>
                </div> 
            </div> 
            {% endif %}
        </div>
    </header>

    <div class="titulo-y-botones">
        <div class="tittle_cart">
            <h1>Carrito de Compras</h1>
        </div>

        <div class="boton-seguir-comprando-container">
            {% if productos_carrito %}
            <button class="boton-seguir-comprando"><a href="{% url 'asago' %}">Seguir comprando</a></button>
            {% endif %}
        </div>
    </div>
    
    {% if pedido_realizado %}
    <script>
        alert('Pedido realizado exitosamente');
        window.location.href = "{% url 'carrito' %}";
    </script>
    {% endif %}

    {% if productos_carrito %}
    <div class="content-cart">
        <div class="cart-details">
            <table class="product-table">
                <tbody>
                    {% for producto_info in productos_carrito %}
                    <tr>
                        <td><img src="{{ producto_info.imagen }}" alt="{{ producto_info.nombre }}" class="product-image"></td>
                        <td>{{ producto_info.nombre }}</td>
                        <td>${{ producto_info.precio }}</td>
                        <td>
                            <form action="{% url 'actualizar_cantidad_carrito' producto_info.id %}" method="post" class="actualizar-cantidad-form">
                                {% csrf_token %}
                                <button type="submit" name="action" value="restar">-</button>
                                <span>{{ producto_info.cantidad }}</span>
                                <button type="submit" name="action" value="sumar">+</button>
                                <input type="hidden" name="producto_id" value="{{ producto_info.id }}">
                            </form>
                        </td>
                        <td>
                            <a href="{% url 'eliminar_producto_carrito' producto_info.id %}" class="eliminar-producto" onclick="event.preventDefault(); if(confirm('¿Estás seguro de eliminar este producto?')){document.getElementById('eliminar-form-{{ producto_info.id }}').submit();}"><i class="uil uil-trash-alt"></i></a>
                            <form action="{% url 'eliminar_producto_carrito' producto_info.id %}" method="post" id="eliminar-form-{{ producto_info.id }}">
                                {% csrf_token %}
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        
        <div class="cart-summary">
            <table class="summary-table">
                <tbody>
                    <tr>
                        <th class="Res_ped" colspan="2">Resumen del Pedido</th>
                    </tr>
                    <tr>
                        <td>Subtotal:</td>
                        <td>${{ total }}</td>
                    </tr>
                    <tr>
                        <td>Envío:</td>
                        <td>Gratis</td>
                    </tr>
                    <tr>
                        <th>Total a Pagar:</th>
                        <td id="total">${{ total }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    
    {% else %}
    <div class="clean">
        <i class="uil uil-exclamation-triangle"></i>
        <p>No hay productos en el carrito.</p>
    </div>
    {% endif %}

    {% if productos_carrito %}
    <div class="btn-cart">
        <form id="hacer-pedido-form" action="{% url 'hacer_pedido' %}" method="post">
            {% csrf_token %}
            <button type="submit" class="hacer-pedido" onclick="return confirm('¿Estás seguro de que deseas enviar el pedido?')">Hacer Pedido</button>
        </form>

        <form id="eliminar-todo-form" action="{% url 'eliminar_todo_carrito' %}" method="post">
            {% csrf_token %}
            <button type="submit" class="eliminar-todo" onclick="return confirm('¿Estás seguro de que deseas eliminar todos los productos del carrito?')">Vaciar Carrito</button>
        </form>
    </div>
    {% endif %}

</body>
</html>
