<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet"  type="text/css" href="{% static 'css/reg_venta.css' %}">
    <title>Detalle Pedido</title>
</head>

<body>    
    <header>
        <div class="logo">
          <a href="{% url 'asago' %}"><img src="{% static 'imagenes/logo_asago1.png' %}" alt=""></a>
          <h2>Asago S.A.S</h2>
        </div>
    
        <div class="login">
          {% if request.session.usuario_logeado is None %}
          <p>Inicio de Sesión</p>
            <div class="dropdown">
              <button class="dropbtn"><i class="uil uil-angle-down"></i></button>
              <div class="dropdown-content">
                <a href="{% url 'login' %}">Iniciar Sesión</a>
                <a href="{% url 'registrar_usuario' %}">Registrarse</a>
              </div> 
            </div> 
          {% else %}
          <p>Bienvenido a Asago {{ usuario.nombres }}!</p>
          <div class="dropdown">
            <button class="dropbtn"><i class="uil uil-angle-down"></i></button>
            <div class="dropdown-content">
              <a href="{% url 'logout' %}">Cerrar Sesión</a>
            </div> 
          </div> 
          {% endif %}
        </div>
        {% if usuario.rol.idrol == 354%}
        <a class="carrito" href="{% url 'carrito' %}"><i class="uil uil-shopping-cart"></i></a>
        {% endif %}
    </header>

    <button class="btn-regresar"><a href="{% url 'listar_pedido' %}">Regresar</a></button>

    <div class="content_detalle">
        <h2 class="content_title">Detalles del Pedido</h2>
        <ul>
            {% for detalle in detalles_pedido %}
                <li>
                    <p><strong>ID Detalle Pedido:</strong> {{ detalle.iddetallepedido }}</p>
                    <p><strong>Producto:</strong> {{ detalle.idproducto }}</p>
                    <p><strong>Cantidad:</strong> {{ detalle.cantidad }}</p>
                    <p><strong>Valor Producto:</strong> ${{ detalle.valorproducto }}</p>
                </li>
            {% empty %}
                <p>No hay detalles disponibles para este pedido.</p>
            {% endfor %}
        </ul>
    </div>

</body>
</html>
