<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"/>
    {% load static %}
    <link rel="stylesheet" href="{%static 'css/tables.css' %}">
    <title>Actualizar Usuario</title>
</head>

<body>
  <div class="container">
    <input type="checkbox" id="btn-modal">       
        <section class="main">
            <div class="main-top">
                <i class="fas uil uil-users-alt"></i>
                <h1>Editar Usuarios</h1>
            </div>

            <section class="dashboard">
                <form name="form_usuario" method="POST"
                action="{% url 'actualizar_usuario' usuarios.idusuario %}" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="dashboard-list">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Rol</th>
                            <th>Estado</th>
                        </tr>
                        </thead>

                        <tbody>
                        <tr>
                            <td>
                                <select name="idrol" class="form-control">
                                    <option value="#" selected>Seleccione</option>
                                    {% for rol in rol %}
                                        <option value="{{ rol.idrol }}" {% if rol.idrol == usuarios.rol.idrol %} selected {% endif %}>{{ rol.rolnombre }}</option>
                                    {% endfor %}
                                </select>
                            </td>
                            <td>
                                <select name="estado" class="form-control">
                                    <option value="#" selected>Seleccione</option>
                                    <option value="habilitado" selected>Habilitado</option>
                                    <option value="deshabilitado" selected>Deshabilitado</option>
                                </select>
                            </td>
                        </tr>            
                        </tbody>
                    </table>

                    <input type="submit" value="Actualizar" class="btn btn-primary"/>
                    <a class="btn btn-secondary"
                        title="Cancelar"
                        href="{% url 'listar_usuario' %}">
                        Cancelar
                    </a>
                </div>
                </form>
            </section>
        </section>
    </div>
</body>
</html>