<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"/>
    {% load static %}
    <link rel="stylesheet" href="{%static 'css/tables.css' %}">
    <title>Actualizar Producto</title>
</head>

<body>
  <div class="container">
    <input type="checkbox" id="btn-modal">       
        <section class="main">
            <div class="main-top">
                <i class="fas uil uil-shopping-bag"></i>
                <h1>Editar Productos</h1>
            </div>
          <section class="dashboard">
            <form name="form_producto"
                method="POST"
                action="{% url 'actualizar_producto' producto.idproducto%}"
                enctype="multipart/form-data">
                {% csrf_token %}
              <div class="dashboard-list">
                <table class="table">
                  <thead>
                    <tr>
                      <th>Id</th>
                      <th>Fecha Registro</th>
                      <th>Nombre</th>
                      <th>Categoria</th>
                      <th>Fecha Vencimiento</th>
                      <th>Valor libra</th>
                    </tr>
                  </thead>

                  <tbody>
                    <tr>
                      <td><input type="text" name="idproducto" class="form-control" value="{{producto.idproducto}}" required></td>
                      <td><input type="date" name="fecharegistro" class="form-control" value="{{producto.fecharegistro|date:'Y-m-d'}}" required></td>
                      <td><input type="text" name="nomproducto" class="form-control" value="{{producto.nomproducto}}" required></td>
                      <td><input type="text" name="nomcategoria" class="form-control" value="{{producto.nomcategoria}}" required></td>
                      <td><input type="date" name="fechavencimiento" class="form-control" value="{{producto.fechavencimiento|date:'Y-m-d'}}" required></td>
                      <td><input type="text" name="valorlibra" class="form-control" value="{{producto.valorlibra}}" required></td>
                    </tr>            
                  </tbody>
                </table>
                <input type="submit" value="Actualizar" class="btn btn-primary"/>
                <a class="btn btn-secondary"
                    title="Cancelar"
                    href="{% url 'listar_productos' %}">
                    Cancelar
                </a>
            </div>
            </form>
          </section>
        </section>
    </div>
</body>
</html>