<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
  {% load static %}
  <link rel="stylesheet"  type="text/css" href="{% static 'css/index.css' %}">
  <title>Pagina Asago</title>
</head>

<body>

  <header>
    {% if nombre_usuario %}
     <p>{{ nombre_usuario }}</p>
    {% else %}
      <p>No hay nombre de usuario</p>
    {% endif %}
    <div class="logo">
      <a href="{% url 'asago' %}"><img src="{% static 'imagenes/logo_asago1.png' %}" alt=""></a>
      <h2>Asago S.A.S</h2>
    </div>
  
    <div class="login">
      {% if nombre_usuario %}
        <p>Bienvenido, {{ nombre_usuario }}!</p>
      {% else %}
        <p>Iniciar Sesión</p>
      {% endif %}
      <div class="dropdown">
        <button class="dropbtn"><i class="uil uil-angle-down"></i></button>
        <div class="dropdown-content">
          <a href="{% url 'login' %}">Iniciar Sesión</a>
          <a href="{% url 'registrar_usuario' %}">Registrarse</a>
        </div> 
      </div> 
    </div>
  </header>

  <div class="carousel slide" id="carouselExampleAutoplaying" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="{%static 'imagenes/producto_5.jpg' %}" alt="Promocion1">
          </div>

          <div class="carousel-item">
            <img src="{%static 'imagenes/carnicos.jpeg'%}" alt="Promocion2">
          </div>

          <div class="carousel-item">
            <img src="{%static 'imagenes/productos4.jpg' %}"  alt="Promocion3">
          </div>
        </div>

        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>

        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </div>

  <div class="tittle">
    <span>Categorias</span>
  </div>

  <section class="contenedor">
    <div class="contenedor-items">
      <div class="item">
        <img  src="{%static 'imagenes/carnes.jpeg' %}" alt="" class="img-item">
        <span class="titulo-item">Carne</span>
        <span class="card-text">Aqui encontraras todo tipo de productos de Carne a tu gusto.</span>
        <button class="card-button"><a href="{% url 'catcarne' %}">Ir a Categoria</a></button>
      </div>

      <div class="item"> 
        <img src="{%static 'imagenes/pollo.jpg' %}" alt="" class="img-item">
        <span class="titulo-item">Pollo</span>
        <span class="card-text">Aqui encontraras todo tipo de productos de Pollo a tu gusto.</span>
        <button class="card-button"><a href="{% url 'catPollo' %}">Ir a Categoria</a></button>
      </div>

      <div class="item">
        <img src="{%static 'imagenes/cerdo.jpg' %}" alt="" class="img-item">
        <span class="titulo-item">Cerdo</span>
        <span class="card-text">Aqui encontraras todo tipo de productos de Cerdo a tu gusto.</span>
        <button class="card-button"><a href="{% url 'catCerdo' %}">Ir a Categoria</a></button>
      </div>

      <div class="item">
        <img src="{%static 'imagenes/chorizo.jpg' %}" alt="" class="img-item">
        <span class="titulo-item">Chorizo</span>
        <span class="card-text">Aqui encontraras todo tipo de productos de Chorizo a tu gusto.</span>
        <button class="card-button"><a href="{% url 'catChorizo' %}">Ir a Categoria</a></button>
      </div>
    </div>
  </section>

  <footer class="pie-pagina">
    <div class="grupo-1">
      <div class="box">
        <figure>
          <div class="image">
            <img src="{%static 'imagenes/logo_asago1.png' %}">
          </div>
      
          <div class="contacto">
            <h2>CONTACTOS</h2>
            <p>Tel: 3146576578 </p>
            <p>Tel: 3137853647</p>
            <p>Correo: Asago@gmail.com </p>
          </div>
        </figure>
      </div>
            
      <div class="box">
        <h2>SOBRE NOSOTROS</h2>
        <p>Nos dedicamos a la comercializacion de Pollo, Carne y Cerdo, cortamos la carne a tu gusto y empacamos al vacío como tu lo quieras, Productos de calidad y terneza.
        Escríbenos ahora y olvidate de llegar a separar tus porciones, nosotros lo hacemos por ti.</p>
      </div>

      <div class="box">
          <h2>SIGUENOS</h2>
          <div class="red-social">
            <a href="https://web.facebook.com/people/Asago-House/100066880955276/?mibextid=ZbWKwL" class="fa fa-facebook"></a>
            <a href="https://instagram.com/asagohouse?igshid=NTc4MTIwNjQ2YQ==" class="fa fa-instagram"></a>
            <a href="https://api.whatsapp.com/send?phone=573155766563&text=Hola+%F0%9F%91%8B+mi+nombre+es....&fbclid=PAAaaNmZtE0e80RfgMRKYlxMClDAYO5ippe5QsdSUW7br-Be3CNwa0b0ctr2E" class="fa fa-whatsapp"></a>
            <a href="https://www.youtube.com/@AsagoHouse/featured" class="fa fa-youtube"></a>
          </div>
      </div>
    </div>
    
    <div class="grupo-2">
      <small>&copy;  2023 <b>- GAES 5</b> - Todos los Derechos Reservados.</small>
    </div>
  </footer>
    
</body>
</html>
