<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"/>
    {% load static %}
    <link rel="stylesheet" href="{%static 'css/tables.css' %}">
    <title>Producto</title>
</head>

<body>
    <div class="container">
        <nav>
            <ul>
                <li><a href="{% url 'asago' %}" class="logo">
                    <img src="{%static 'imagenes/logo_asago1.png'%}">
                    <span class="nav-item">Asago S.A.S</span>
                </li>

                <li><a href="{% url 'asago' %}">
                    <i class="fas uil uil-estate"></i>
                    <span class="nav-item">Dashboard</span>
                </a></li>

                <li><a href="{% url 'listar_usuario' %}">
                    <i class="fas uil uil-users-alt"></i>
                    <span class="nav-item">Usuarios</span>
                </a></li>

                <li><a href="{% url 'listar_productos' %}">
                    <i class="fas uil uil-shopping-bag"></i>
                    <span class="nav-item">Productos</span>
                </a></li>

                <li><a href="{% url 'listar_venta' %}">
                    <i class="fas uil uil-bill"></i>
                    <span class="nav-item">Ventas</span>
                </a></li>

                <li><a href="{% url 'listar_pedido' %}">
                    <i class="fas uil uil-truck"></i>
                    <span class="nav-item">Pedidos</span>
                </a></li>
                
                <li><a href="{% url 'asago' %}">
                    <i class="fas uil uil-store"></i>
                    <span class="nav-item">Compras</span>
                </a></li>

                <li><a href="{% url 'listar_proveedor' %}">
                    <i class="fas uil uil-user"></i>
                    <span class="nav-item">Proveedores</span>
                </a></li>
                
                <li><a href="config/logout.php" class="logout">
                <i class="fas uil uil-sign-out-alt"></i>
                <span class="nav-item">Cerrar Sesión</span>
                </a></li>
            </ul>
        </nav>

        <section class="main">
            <div class="main-top">
                <i class="fas uil uil-shopping-bag"></i>
                <h1>Listado Productos</h1>
            </div>

            <div class="boton-modal">
                <label for="btn-modal">Agregar Producto</label>
            </div>

            <input type="checkbox" id="btn-modal">
            <div class="container-modal">
                <div class="content-modal">
                    <div class="tittle">
                        <span>Registrar Producto</span>
                    </div>   

                    <form action="{% url 'registrar_producto'%}" method="post">
                        {% csrf_token %}
                        <div class="row">
                            <label>ID Producto</label>
                            <input type="number" name="idproducto" required>
                        </div>

                        <div class="row">
                            <label>Fecha Registro</label>
                            <input type="date" name="fecharegistro" required>
                        </div>

                        <div class="row">
                            <label>Nombre</label>
                            <input type="text" name="nomproducto" required>
                        </div>

                        <div class="row">
                            <label>Categoria</label>
                            <select name="nomcategoria" class="form-select" >
                                <option value="">Seleccione una categoria</option>
                                <option value="Carnicos">Carnicos</option>
                                <option value="Pollo">Pollo</option>
                                <option value="Cerdo">Cerdo</option>
                                <option value="Chorizo">Chorizo</option>
                            </select>
                        </div>

                        <div class="row">
                            <label>Cantidad</label>
                            <input type="number" name="cantidad" required>
                        </div>

                        <div class="row">
                            <label>Fecha Vencimiento</label>
                            <input type="date" name="fechavencimiento" required>
                        </div>

                        <div class="row">
                            <label>Valor Libra</label>
                            <input type="number" name="valorlibra" required>
                        </div>
                        <div class="row">
                            <input type="submit" value="Registrar" class="btn btn-primary"/>
                         </div>
                    </form>
                    <label for="btn-modal" class="cerrar-modal"></label>

                </div>
            </div>

            <section class="dashboard">
                <div class="dashboard-list">
                    <h1>Productos</h1>
                    {% if producto %}
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Id</th>
                            <th>Fecha Registro</th>
                            <th>Nombre</th>
                            <th>Categoria</th>
                            <th>cantidad</th>
                            <th>Fecha Vencimiento</th>
                            <th>Valor libra</th>
                            <th>Acciones</th>
                        </tr>
                        </thead>

                        <tbody>
                            {% for producto in producto %}
                            <tr id="producto{{producto.id}} ">
                                <td>{{producto.idproducto}}</td>
                                <td>{{producto.fecharegistro}}</td>
                                <td>{{producto.nomproducto}}</td>
                                <td>{{producto.nomcategoria}}</td>
                                <td>{{producto.cantidad}}</td>
                                <td>{{producto.fechavencimiento}}</td>
                                <td>{{producto.valorlibra}}</td>
                                <td class="boton-modal"><a href="{% url 'pre_editar_producto' producto.idproducto %}" class="editar" data-toggle="tooltip" title="Editar" aria-hidden="true">Editar</a></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% else %}
                <p class="text-center">No hay productos registradas</p>
                {% endif %}
            </section>
        </section>
    </div>
    
</body>
</html>