<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"/>
    {% load static %}
    <link rel="stylesheet" href="{%static 'css/tables.css' %}">
    <title>Ventas</title>
</head>

<body>
    <div class="container">
        <nav>
            <ul>
                <li><a href="{% url 'asago' %}" class="logo">
                    <img src="{%static 'imagenes/logo_asago1.png'%}">
                    <span class="nav-item">Asago S.A.S</span>
                </li>

                <li><a href="{% url 'asago' %}">
                    <i class="fas uil uil-estate"></i>
                    <span class="nav-item">Dashboard</span>
                </a></li>

                <li><a href="{% url 'listar_usuario' %}">
                    <i class="fas uil uil-users-alt"></i>
                    <span class="nav-item">Usuarios</span>
                </a></li>

                <li><a href="{% url 'listar_productos' %}">
                    <i class="fas uil uil-shopping-bag"></i>
                    <span class="nav-item">Productos</span>
                </a></li>

                <li><a href="{% url 'listar_venta' %}">
                    <i class="fas uil uil-bill"></i>
                    <span class="nav-item">Ventas</span>
                </a></li>

                <li><a href="{% url 'listar_pedido' %}">
                    <i class="fas uil uil-truck"></i>
                    <span class="nav-item">Pedidos</span>
                </a></li>
                
                <li><a href="{% url 'asago' %}">
                    <i class="fas uil uil-store"></i>
                    <span class="nav-item">Compras</span>
                </a></li>

                <li><a href="{% url 'listar_proveedor' %}">
                    <i class="fas uil uil-user"></i>
                    <span class="nav-item">Proveedores</span>
                </a></li>
                
                <li><a href="config/logout.php" class="logout">
                <i class="fas uil uil-sign-out-alt"></i>
                <span class="nav-item">Cerrar Sesión</span>
                </a></li>
            </ul>
        </nav>

        <section class="main">
            <div class="main-top">
                <i class="fas uil uil-bill"></i>
                <h1>Listado Ventas</h1>
            </div>
                <div class="boton-modal">
                        <label for="btn-modal">Agregar Venta</label>
                        </div>
                
            <input type="checkbox" id="btn-modal">
            <div class="container-modal">
                <div class="content-modal">
                    <div class="tittle">
                        <span>Registrar Venta</span>
                    </div>   

                    <form action="insertar_venta.php" method="post">
                        <div class="row">
                            <label>ID Venta</label>
                            <input type="text" name="id_venta" required>
                        </div>

                        <div class="row">
                            <label>Fecha Emisión</label>
                            <input type="date" name="fecha_emision" required>
                        </div>

                        <div class="row">
                            <label>Id Pedido</label>
                            <input type="text" name="id_pedido" required>
                        </div>

                        <div class="row">
                            <label>Id Cliente</label>
                            <input type="text" name="id_cliente" required>
                        </div>

                        <div class="row">
                            <label>Id Producto</label>
                            <input type="number" name="id_producto" required>
                        </div>

                        <div class="row">
                            <label>Producto</label>
                            <input type="text" name="producto" required>
                        </div>

                        <div class="row">
                            <label>Cantidad</label>
                            <input type="number" name="cantidad" required>
                        </div>

                        <div class="row">
                            <label>Valor Producto</label>
                            <input type="number" name="valor_producto" required>
                        </div>

                        <div class="row">
                            <label>Valor Total</label>
                            <input type="number" name="valor_total" required>
                        </div>

                        <div class="row block">
                            <input class="btn" type="submit" value="Agregar Venta">
                        </div>
                    </form>

                    <label for="btn-modal" class="cerrar-modal"></label>
                </div>
            </div>

            <section class="dashboard">
                <div class="dashboard-list">
                    <h1>Ventas</h1>
                    {% if venta %}
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Id</th>
                            <th>Fecha Emisión</th>
                            <th>Id Pedido</th>
                            <th>Id Cliente</th>
                            <th>Id Producto</th>
                            <th>Producto</th>
                            <th>Cantidad</th>
                            <th>Valor Producto</th>
                            <th>Valor Total</th>
                            <th>Acciones</th>
                        </tr>
                        </thead>

                        <tbody>
                            {% for venta in venta %}
                            <tr id="venta{{venta.id}}">
                                <td>{{venta.idventa}}</td>
                                <td>{{venta.fechaemision}}</td>
                                <td>{{venta.idpedido.idpedido}}</td>
                                <td>{{venta.idcliente}}</td>
                                <td>{{venta.idproducto.idproducto}}</td>
                                <td>{{venta.producto}}</td>
                                <td>{{venta.cantidad}}</td>
                                <td>{{venta.valorproducto}}</td>
                                <td>{{venta.valortotal}}</td>
                                <td></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% else %}
                <p class="text-center">No hay ventas registradas</p>
                {% endif %}
            </section>
        </section>
    </div>
</body>
</html>