<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"/>
    {% load static %}
    <link rel="stylesheet" href="{%static 'css/tables.css' %}">
    <title>Ventas</title>
</head>

<body>
    <div class="container">
        <nav>
            <ul>
                {% if usuario.rol.idrol == 971 %}
                <li><a href="{% url 'asago' %}" class="logo">
                    <img src="{%static 'imagenes/logo_asago1.png'%}">
                    <span class="nav-item">Asago S.A.S</span>
                </li>

                <li><a href="{% url 'dashboard' %}">
                    <i class="fas uil uil-estate"></i>
                    <span class="nav-item">Dashboard</span>
                </a></li>

                <li><a href="{% url 'listar_usuario' %}">
                    <i class="fas uil uil-users-alt"></i>
                    <span class="nav-item">Usuarios</span>
                </a></li>

                 <li><a href="{% url 'listar_venta' %}">
                    <i class="fas uil uil-bill"></i>
                    <span class="nav-item">Ventas</span>
                </a></li> 

                 <li><a href="{% url 'listar_compra' %}">
                    <i class="fas uil uil-store"></i>
                    <span class="nav-item">Compras</span>
                </a></li> 
                <li><a href="{% url 'listar_pedido' %}">
                    <i class="fas uil uil-truck"></i>
                    <span class="nav-item">Pedidos</span>
                </a></li>

                <li><a href="{% url 'listar_producto' %}">
                    <i class="fas uil uil-shopping-bag"></i>
                    <span class="nav-item">Productos</span>
                </a></li>
                
                <li><a href="{% url 'listar_proveedor' %}">
                    <i class="fas uil uil-user"></i>
                    <span class="nav-item">Proveedores</span>
                </a></li>
                
                <li><a href="{% url 'logout' %}" class="logout">
                <i class="fas uil uil-sign-out-alt"></i>
                <span class="nav-item">Cerrar Sesión</span>
                </a></li>
                {% endif %}
                {% if usuario.rol.idrol == 214 %}
                <li><a href="{% url 'asago' %}" class="logo">
                    <img src="{%static 'imagenes/logo_asago1.png'%}">
                    <span class="nav-item">Asago S.A.S</span>
                </li>
                <li><a href="{% url 'dashboard' %}">
                    <i class="fas uil uil-estate"></i>
                    <span class="nav-item">Dashboard</span>
                </a></li>
                <li><a href="{% url 'listar_pedido' %}">
                    <i class="fas uil uil-truck"></i>
                    <span class="nav-item">Pedidos</span>
                </a></li>

                <li><a href="{% url 'listar_producto' %}">
                    <i class="fas uil uil-shopping-bag"></i>
                    <span class="nav-item">Productos</span>
                </a></li>
                
                <li><a href="{% url 'listar_venta' %}">
                    <i class="fas uil uil-bill"></i>
                    <span class="nav-item">Ventas</span>
                </a></li> 
                
                <li><a href="{% url 'logout' %}" class="logout">
                <i class="fas uil uil-sign-out-alt"></i>
                <span class="nav-item">Cerrar Sesión</span>
                </a></li>
                {% endif %}
            </ul>
        </nav>

        <section class="main">
            <div class="main-top">
                <i class="fas uil uil-bill"></i>
                <h1>Listado Ventas</h1>
            </div>

            <div class="boton-modal">
                <button class="reg_venta"><a href="{% url 'registrar_venta' %}">Registrar Venta</a></button>
            </div>

            <section class="dashboard">
                <div class="dashboard-list">
                    {% if page_obj %}
                    <table class="table">
                        <form method="get" class="filtro-form">
                            <div class="form-group">
                                <label class='filtro' for="id_idventa">ID Venta:</label>
                                <input type="text" name="idventa" id="id_idventa" class="custom-input">
                            </div>
                            <div class="form-group">
                                <label class='filtro' for="id_fechaemision">Fecha Emision:</label>
                                <input type="date" name="fechaemision" id="id_fechaemision" class="custom-input">
                            </div>
                            <button type="submit" class="btn btn-primary custom-btn circular-btn">Filtrar</button>
                        </form>
                        <a href="{% url 'exportar_ventas_pdf' %}" class="btn btn-primary custom-btn circular-btn">Reporte PDF</a>
                        <thead>
                        <tr>
                            <th>Id</th>
                            <th>Fecha Emisión</th>
                            <th>Valor Total</th>
                            <th></th>
                        </tr>
                        </thead>

                        <tbody>
                            {% for venta in page_obj %}
                            <tr id="venta{{venta.id}}">
                                <td>{{venta.idventa}}</td>
                                <td>{{venta.fechaemision}}</td>
                                <td>${{venta.valortotal}}</td>
                                <td>
                                    <span>
                                        <a class="editar" title="Detalle Venta" href="{% url 'detalle_venta' venta.idventa %}">Detalle</a>
                                    </span>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                    <div class="pagination">
                        <span class="step-links">
                            {% if page_obj.has_previous %}
                                <a href="?page=1"><i class="uil uil-angle-double-left"></i></a>
                                <a href="?page={{ page_obj.previous_page_number }}"><i class="uil uil-angle-left-b"></i></a>
                            {% endif %}

                            <span class="current">
                                Pagina {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}
                            </span>

                            {% if page_obj.has_next %}
                                <a href="?page={{ page_obj.next_page_number }}"><i class="uil uil-angle-right-b"></i></a>
                                <a href="?page={{ page_obj.paginator.num_pages }}"><i class="uil uil-angle-double-right"></i></a>
                            {% endif %}
                        </span>
                    </div>
                </div>
                {% else %}
                <p class="text-center">No hay ventas registradas</p>
                {% endif %}
            </section>
        </section>
    </div>
</body>
</html>